html,body {
    background-color: black;
    height: 100%;
    width: 100%;
  } h2{color: white;}
  h3{color: white;}
  p{color: white}
  img{border-style: solid;
  border-color: white;
   border-width: 5px;}
